body{
    background-color: #000;
}

.container {
    max-width: 400px;
    margin: 10vh auto 0 auto;
    box-shadow: 0px 0px 43px 17px rgba(153,153,153,1);
}

#display {
    text-align: right;
    height: 70px;
    line-height: 70px;
    padding: 16px 8px;
    font-size: 25px;
    color: aliceblue;
}

.buttons {
    display: grid;
    border-bottom: 1px solid #999;
    border-left: 1px solid #999;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}



.buttons > div {
    border-top: 1px solid #999;
    border-right: 1px solid #999;
}

.button {
    /*border: 0.5px solid #999;*/
    line-height: 100px;
    text-align: center;
    font-size: 25px;
    color:aliceblue;
    cursor: pointer;
}

#equal {
  background-color: #5555ff;
  color: white;  
}

.button:hover {
    background-color: #fff;
    color: rgb(14, 13, 13);
    transition: 0.5s ease-in-out;
	/*transform: skewX(10deg);*/
    transform:scale(1.2)translateY(-10px);
	box-shadow: 2px 2px 2px white;
}